In [1]:
# 1. LINE CONTUATION CHARACTER.

a="THE SUN \
RISES IN \
EAST"
print("a= ",a)

a=  THE SUN RISES IN EAST

In [1]:
# 2. ONLY TO PRINT SPECIFIC PART.

a="THE SUN RISES IN EAST"
print("First character of a is ",a[0])
print("Second character of a is ",a[1])
print("Third character of a is ",a[2])

First character of a is  T
Second character of a is  H
Third character of a is  E

In [2]:
# 3. STRINGS---COLLECTION OF CHARACTER STORED CONTINOUSLY AND CAN BE ACCESSED USING INDEX NO.
# INDEX NO. IS ALWAYS AN INTEGER VALUE WHICH ALWAYS START FROM 0.
# RANGE GIVEN IS ALWAYS MORE THEN ONE (+1) THEN ONLY WE CAN GET THE DESIERED OUTPUT.

a="THE SUN RISES IN EAST"
print("The first 10 characters of a =",a[0:11])
print("The first 3 characters of a =",a[:3])# without giving 0 also program run

The first 10 characters of a = THE SUN RIS
The first 3 characters of a = THE

In [3]:
# 4. TO PRINT FROM LAST (USE NEGATIVE NO.).

a="THE SUN RISES IN EAST"
print("The LAST 10 character of a =",a[-1])

The LAST character of a = T

In [4]:
# 5. TO DOUBLE THE STRING (USE MULTIPLY(*) SYMBOL).
# (+)= TO CONCATENATE STRINGS[APPENDING].
# (*)= TO REPLICATE STRINGS ENTERED NO. OF TIMES.


a="THE SUN RISES IN EAST"
print(a*2)

THE SUN RISES IN EASTTHE SUN RISES IN EAST

In [6]:
# 6. STRING ASSIGNING .
# ALL SINGLE(' '), DOUBLE(" "), TRIPLE(""" """ |''' ''') INVERTED COMAS CAN BE USED.


a='THE '
b="SUN"
c='''RISES'''
d="""IN EAST"""


print(a)
print(b)
print(c)
print(d)

THE
SUN
RISES
IN EAST

In [7]:
# 7. TO DELETE THE STRING WE USE (DEL KEYWORD).

a="THE SUN RISES IN EAST"
del a

In [8]:
# 8. STRING MODIFICATION | FORMATING.

a="S SINGH"
sal=100000
print("Welcome",a,"your salary is ",sal)

b="SNEHAL SINGH {}" # {}---PLACE HOLDER-----WE HAD INFORMED BEFORE THAT WE WILL GIVE THE VALUE IN IT
print(b.format(150000))#---HERE VALUE IS GIVEN

c="SNEHAL SINGH SOLANKI"
sal=100000
print("Welcome {} your salary is {}".format(c,sal)) #----CAN ALSO BE WRITTEN IN THIS FORM
print("Welcome {0} your salary is {1}".format(c,sal))#---PLACE HOLDER{} CAN HAVE SOME NO. ALSO & THESE NO. 
print("Welcome {1} your salary is {0}".format(c,sal))#---STATE THAT WHICH VALUE WILL COME FIRST

Welcome S SINGH your salary is  100000
SNEHAL SINGH 150000
Welcome SNEHAL SINGH SOLANKI your salary is 100000
Welcome SNEHAL SINGH SOLANKI your salary is 100000
Welcome 100000 your salary is SNEHAL SINGH SOLANKI

In [9]:
# 9. STRINGS MODIFIERS-----USED TO MODIFY THE STRINGS.

# a) .upper()----TO MODIFY THE STRING IN UPPER CASE CHARACTERS|ALPHABETS.

a="snehal singh solanki"
print("Upper Case =",a.upper())

# IF WE WANT TO CHANGE THE CHARACTERS|ALPHABETS INTO UPPER-CASE IN MEMORY
a=a.upper()
print(a)

Upper Case = SNEHAL SINGH SOLANKI
SNEHAL SINGH SOLANKI

In [10]:
# b) .lower()----TO MODIFY THE STRING IN LOWER CASE CHARACTERS|ALPHABETS.

a="SNEHAL SINGH SOLANKI"
print("Lower Case =",a.lower())

# IF WE WANT TO CHANGE THE CHARACTERS|ALPHABETS INTO LOWER-CASE IN MEMORY.
a=a.lower()
print(a)

Lower Case = snehal singh solanki
snehal singh solanki

In [13]:
# c) .capitalize()----TO MODIFY THE STRING TO ONLY MAKE THE 1st LETTER OF STRING AS UPPER-CASE|CAPITAL CHARACTERS|ALPHABETS.

a="snehal"
print("Capitalize 1st character =",a.capitalize())

Capitalize 1st character = Snehal

In [14]:
# d) .strip()----TO MODIFY THE STRING TO NOT PRINT THE GIVEN INITIAL SPACE BY THE USER .

a="                                                                SNEHAL SINGH SOLANKI"
print("String without initial spaces =",a.strip())

String without initial spaces = SNEHAL SINGH SOLANKI

In [15]:
# e) .split()----TO MODIFY THE STRING TO MAKE THE WHOLE STRING SPLIT INTO PARTS . 

a="SNEHAL SINGH SOLANKI"
print("Splitting of string=",a.split())
print("Splitting of string=",a.split(" ")) # ----CAN ALSO BE WRITTEN AS

Splitting of string= ['SNEHAL', 'SINGH', 'SOLANKI']
Splitting of string= ['SNEHAL', 'SINGH', 'SOLANKI']

In [16]:
# 10. STRING METHODS -----STRING METHODS RETURNS THE NEW VALUES. THEY DO NOT CHANGE THE ORIGINAL STRING.
# a) len()------TO FIND THE LENGTH OF STRING.

a="SNEHAL SINGH SOLANKI"
print("Length of string is ",len(a))

Length of string is  20

In [19]:
# b) .isalpha()------Returns True if all characters in the string are in the alphabet.

a="SNEHAL"# HERE IF SPACE [ 1 space | MANY spaces] i,e., (SNEHAL | S N E H A L ) IS ALSO GIVEN THEN IT WILL RETURN (FALSE). 
print("String contain all alphabets ",a.isalpha())    #  SO DON'T GIVE ANY SPACE.

String contain all alphabets  False

In [22]:
# c) .isdigit()------Returns True if all characters in the string are digits.

a="1286"# # HERE IF SPACE [ 1 space | MANY spaces] i,e., (1286 | 1 2 8 6 ) IS ALSO GIVEN THEN IT WILL RETURN (FALSE).
print("String contain all digits ",a.isdigit())  #  SO DON'T GIVE ANY SPACE.

String contain all digits  True

In [23]:
# d) .isupper()------Returns True if all characters in the string are UPPER-CASE.

a="SNEHAL"# # HERE IF SPACE [ 1 space | MANY spaces] i,e., (SNEHAL |S N E H A L ) IS ALSO GIVEN THEN IT WILL RETURN (FALSE).
print("String contain all upper-case characters ",a.isupper())  #  SO DON'T GIVE ANY SPACE.

String contain all upper characters  True

In [24]:
# e) .islower()------Returns True if all characters in the string are LOWER-CASE.

a="snehal"# # HERE IF SPACE [ 1 space | MANY spaces] i,e., (SNEHAL |S N E H A L ) IS ALSO GIVEN THEN IT WILL RETURN (FALSE).
print("String contain all lower-case characters ",a.islower())  #  SO DON'T GIVE ANY SPACE.

String contain all lower-case characters  True

In [25]:
# f) .find(" which value to be found ")-----------------------------------------------------------------------------------------
# ---------Searches the string for a specified value and returns the position(PLACE-VALUE) of where it was found. --------------

a="SNEHAL"
print("String 'a' has character 'E' in place = ",a.find("E"))

String 'a' has character 'E' in place =  2

In [27]:
# g) .replace("vale that has to be replaced" , "value that will replace")-------------------------------------------------------
# ---------------------- Returns a string where a specified value is replaced with a specified value. --------------------------

a="KING"
print("Replaced String = ",a.replace("K","P"))

Replaced String =  PING